/* Ampel.css */
.ampel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.ampel-light {
  width: 100px;
  height: 100px;
  background-color: gray;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* füge einen Schatten hinzu */
  border: 6px solid #333; /* dunkler Rand */
  border-color: darkgray;
  transition: background-color 0.5s ease; /* sanfter Farbwechsel */
}

/* Optional: Animation, wenn die Ampel wechselt */
.ampel-light.transition {
  animation: pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
